<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">What People Said About Me.</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    As Apple CEO, I'm proud to lead the innovations that shape the future of technology.
                    Each new product is designed with the aim of being a tool that touches the lives of our users and makes their lives easier.
                    User experience has always been a top priority for us.
                </p>
                <div class="testimonials__author h06">
                    Tim Cook
                    <span>CEO, Apple</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    At Google, we democratize access to the world's information.
                    Every day, billions of people trust us to find answers to their questions, discover new things, and make the world a better place.
                    We believe that technology should be accessible and useful for everyone.
                </p>
                <div class="testimonials__author h06">
                    Sundar Pichai
                    <span>CEO, Google</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                    Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.
                </p>
                <div class="testimonials__author h06">
                    Satya Nadella
                    <span>CEO, Microsoft</span>
                </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>