<div class="col-six tab-full right">
    <h3>Programming Languages ​​& Technologies..</h3>

    <ul class="skill-bars">
        <li>
            <div class="progress percent90"><span>90%</span></div>
            <strong>HTML5</strong>
        </li>
        <li>
            <div class="progress percent85"><span>85%</span></div>
            <strong>CSS3</strong>
        </li>
        <li>
            <div class="progress percent70"><span>70%</span></div>
            <strong>JQuery</strong>
        </li>
        <li>
            <div class="progress percent95"><span>95%</span></div>
            <strong>.Net</strong>
        </li>
        <li>
            <div class="progress percent75"><span>75%</span></div>
            <strong>C#</strong>
        </li>
        <li>
            <div class="progress percent90"><span>60%</span></div>
            <strong>React JS</strong>
        </li>
    </ul>
</div>