@* @model List<MyPortfolio.Dal.Entities.About> *@

<section id="about" class="s-about target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>About Me</h3>
            <h1>@ViewBag.aboutTitle</h1>
            <p class="lead">
                @ViewBag.aboutSubDescription
               @*  Hello, I am Emircan Gürbüz, I am a 3nd year student of
                Software Developer. I am trying to improve myself in
                the field of web programming. In addition, the languages ​​I
                know are C, C++, C#, .NetCore, JavaScript, Html, Css, Bootsrapt ,
                ReactJs , Tailwind Css , Python.. *@
            </p>
        </div>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full left">
            <h3>Hello!</h3>

            <p>@ViewBag.aboutDetail</p>
        </div>

        @await Component.InvokeAsync("_SkillComponentPartial")
        
    </div> <!-- end about-content -->

    <div class="row about-content about-content--buttons">

        <div class="col-six tab-full left">
            <a href="#0" class="btn btn--primary full-width">Download My CV</a>
        </div>
        <div class="col-six tab-full right">
            <a href="#0" class="btn full-width">Write to me</a>
        </div>

    </div> <!-- end about-content buttons -->

    @await Component.InvokeAsync("_ExperienceComponentPartial")
     <!-- end about-content timeline -->

</section>